.idea
.DS_Store
out
node_modules
public/js/blocks/profile/profile.tmpl.js
public/js/blocks/profile/profile.tmpl.xml
public/js/blocks/scoreboard/scoreboard.tmpl.js
public/js/blocks/scoreboard/scoreboard.tmpl.xml
