.gameover {
    &__block {
        width: 750px;
        height: 580px;
        margin: auto;
        margin-top: -750px;
        border-radius: 40px;
        border: 4px double red;
        position: absolute;
        margin-left: 150px;
        background-color: red;
    }

    &__text {
        width: 750px;
        height: auto;
        padding-top: 60px;
        background: none;
    }
}
