@import url('https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic');
$font-stack: 'Poiret One', cyrillic;

@keyframes background_animation {
    
}

*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}

A:visited {
    text-decoration: none;
    color:greenyellow;
}

A:hover {
    color: orange;
    font-size: 110%;
    font-weight: 700;
}

body {
    background: url(../textures/menu-back.png) fixed no-repeat;
    background-size: cover;
    font-family: $font-stack;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #143ba583;
    
}

.MenuPage {
    width: 100vw;
    height: 100vh;
    font-size: 16pt;
}

.menu {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
    position: relative;
    margin: auto;

    &__title {
        font-weight: 600;
        font-size: 30pt;
        margin-bottom: 30px; 
        color: orange;
    }
    
    &__button {
        width: 120px;
        line-height: 50px;
        margin: 7.5px 0px;
        display: inline-block;
        border: 2px solid lightblue;
        padding: 10px 90px;
        border-radius: 30px;
    }

    &__smallButton {
        font-size: 15px;
        width: 80px;
    }

    &__button:hover {
        box-shadow: 0 0 10px orange;
    }
}

.qwe {
    width: 300px;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button_disable {
    pointer-events: none;
    cursor: default;
    color: #888;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;

    input {
        outline: none;
        margin-bottom: 5px;
    }
}

.error {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.75);
    border-color: rgba(255, 0, 0, 0.5);
}
    
.ok {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.75);
    border-color: rgba(0, 255, 0, 0.5);
}

        