$font-stack: 'Poiret One', cyrillic;
$font-size-xs: 12pt;
$font-size-s: 16pt;
$font-size-m: 20pt;
$font-size-l: 24pt;
$font-size-xl: 36pt;
$font-size-hover: 120%;
$font-weight-hover: 200%;
$title-color: orange;
$link-color: #acff2f;
$link-hover-color: #ffa500;
$text-color: rgb(215, 0, 215);
$border-color: lightblue;
$background-black: rgba(0, 0, 0, 0.3);
$background-purple: rgba(128, 0, 128, 0.5);
